<h1>Portfolios</h1>
<%= link_to "Create New", new_portfolio_path %>
<% @portfolios.each do |portfolio| %>
  <p><%= link_to portfolio.title, portfolio_path(portfolio) %></p>
  <p><%= portfolio.subtitle %></p>
  <p><%= portfolio.body %></p>
  <p><%= image_tag portfolio.thumb_image if portfolio.thumb_image %></p>
  <%= link_to "Edit", edit_portfolio_path(portfolio) %>
<% end %>



<!--
  if portfolio.thumb_image
  if !portfolio.thumb_image.nil?
  unless portfolio.thumb_image.nil?
 -->
