<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <meta name="keywords" content="<%= @seo_keywords %>" />
    <meta name="description" content="<%= @seo_description %>"/>
    <%#= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <%= video_tag(
            'HardDrivePhotojpeg.mp4',
            id: 'background',
            autoplay: true,
            loop: true,
            muted: true,
            poster: 'profile.jpg'
            )%>
          <!-- <div id="background"></div> -->
          <%= render 'shared/application_nav', location: 'top' %>

          <!-- <h2>Howdy <%#= current_user.first_name %>?</h2> -->
          <%= yield %>
          <%#= source_helper("application") %>

          <!-- <%# if session[:source] %>
            <p>Thanks for visiing from <%= session[:source] %></p>
          <%# end %> -->
          <%= render 'shared/application_footer' %>
        </div>
      </div>
    </div>
  </body>
</html>
