<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta name="keywords" content="<%= @seo_keywords %>" />
    <meta name="description" content="<%= @seo_description %>"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= render 'shared/nav', location: 'top' %>

    <h2>Howdy <%= current_user.first_name %>?</h2>

    <%= login_helper %>
    <%= yield %>
    <% if session[:source] %>
      <p>Thanks for visiing from <%= session[:source] %></p>
    <% end %>
  </body>
</html>
