<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <meta name="keywords" content="<%= @seo_keywords %>" />
    <meta name="description" content="<%= @seo_description %>"/>
    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/portfolio_nav" %>
    <%= render "shared/portfolio_main" if !logged_in?(:site_admin) %>

    <%#= render 'shared/nav', location: 'top' %>
    <!-- <h2>Howdy <%#= current_user.first_name %>?</h2> -->

    <%= yield %>
    <%= alerts %>
    <%= source_helper("portfolio") %>
    <%= render 'shared/portfolio_footer' %>
      <!-- <%# if session[:source] %>
        <p>Thanks for visiing from <%= session[:source] %></p>
      <%# end %> -->
  </body>
</html>
